@font-face {
    font-family: 'Hylia Serif';
    src: url('HyliaSerif.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Hylia Serif', serif;
    text-align: center;
    background-color: #9ed7e4;
    padding: 0;
    margin: 0;
}

h1 {
    padding-top: 10px;
    margin: 0;
}

header {
    background-color: #607E54;
    color: #CFE1B8;
    padding-bottom: 1px;
    letter-spacing: 3px;
}

h3 {
    letter-spacing: 2px;
    text-align: center;
}

#result p {
    text-align: left;
    font-size: 15px;
    /* font-family: serif; */
}

#result {
    border: 1px solid #28a2a6;
    width: 75%;
    display:inline-block;
    margin: 0 0;
    background-color: #28a2a6;
    vertical-align: top;
    box-sizing: border-box;
    position:relative;
    border-radius: 25px;
    margin: 10px 0 30px 0;
    padding: 0 30px 0 30px;
}

#filter, #select {
    background-color: #abd384;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 9px 2px;
}
