body {
    font-family: serif;
    text-align: center;
    background-color: rgb(201, 199, 199);
    padding: 0;
    margin: 0;
    text-align: center;
}

#button {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-top: 10px;
    margin: 0;
}

header {
    background-color: #607E54;
    color: #CFE1B8;
    padding-bottom: 1px;
    letter-spacing: 3px;
}

h3 {
    letter-spacing: 2px;
    text-align: center;
}

#result p {
    text-align: left;
    font-size: 15px;
}

#result {
    width: 75%;
    display:inline-block;
    margin: 10px 0 30px 0;
    vertical-align: top;
    box-sizing: border-box;
    position:relative;
    border-radius: 25px;
    margin: 10px 0 30px 0;
    padding: 0 30px 0 30px;
}

#filter, #select, #button {
    background-color: #cd6d6d;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 9px 2px;
}

.box {
    background-color: #9a9aba;
    border-radius: 15px;
    padding: 15px 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px #000;
}

.box h3 {
    font-size: 24px;
    margin-top: 0;
}

.box p {
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (max-width: 400px) {
    .box {
        width: 95%;
        padding: 10px 10px;
    }
    
    .box h3 {
        font-size: 15px;
    }
    
    .box p {
        font-size: 12px;
        line-height: 1;
    }
    
    #result {
        width: 95%;
        padding: 0 10px;
    }
}